<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Careers</title>
    <style>
        #banner{ 
            height: 360px;
            width: 100%;
            object-fit: cover;
            margin-bottom: 16px;
        }
    </style>
</head>
<body>
    {% include 'nav.html' %}
    <img src="/static/1703611617378.jpg" alt="potential leaders of tomorrow" id="banner">
    <div class="container">
        <h1 class="text-center mt-2 mb-4">
            {{company_name}} Careers
        </h1>
        <div class="row" style="margin-bottom: 20px;">
            <div class="col-md-6">
                <p class="lead">
                    Lorem ipsum dolor sit amet consectetur, 
                    adipisicing elit. Doloremque alias quidem aliquid 
                    dignissimos harum commodi suscipit. Impedit esse 
                    consequatur aut amet eligendi tempore facere? 
                    Soluta vitae fugit facilis assumenda doloribus?, Lorem ipsum dolor 
                    sit amet consectetur, adipisicing elit. Repudiandae, tempora sunt nam fugit velit 
                    iusto quis illo earum natus dolorem, nulla aperiam esse susc
                    ipit fugiat vitae repellendus ipsam, molestias exercita
                    tionem.
                </p>
            </div>
            <div class="d-none d-md-block col-md-6">
                <img src="/static/1703679216224.jpg" alt="" style="height: 320px;border-radius: 6px;">
            </div>
        </div>
        <h2 class="text-center  mt-2 mb-4">
            Job Openings
        </h2  mt-2 mb-4>
        <div>
            {% for job in jobs %}
               {% include 'jobitem.html' %} 
            {% endfor %}
            </div>
        <div class="text-center">
            <button class="btn btn-primary btn-lg">Contact Us</button>
        </div>
    </div>
    {% include 'footer.html' %}
</body>
</html>